version: "3.9"
services:
  app:
    build: .
    environment:
      - MONGO_USER=$MONGO_USER
      - MONGO_PASSWORD=$MONGO_PASSWORD
      - MONGO_URL=$MONGO_URL
      - MONGO_PORT=$MONGO_PORT
      - SECRET_KEY=$SECRET_KEY
    ports:
      - 8080:8080
    depends_on:
      - mongo
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGO_USER
      - MONGO_INITDB_ROOT_PASSWORD=$MONGO_PASSWORD
